/*index.css*/

#equation {
  color: rgb(0, 255, 149);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 3.5rem;
  padding-left: 25%;
 
}

#title {
    color: rgb(0, 255, 149);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-style: italic;
    /* margin-top: 20;
    margin-bottom: 20;
    margin-left: 20;
    margin-right: 20; */
    padding-left: 25%;

  }

  h3 {
    color:white;
    padding-left: 25%;
  }

  p {
    color: red;
    font-weight: bold;
    padding-left:25%;
  }

  input {
    margin: 25px;
    font: inherit;
    color: inherit;
    padding-left: 25%;
}
